{% set title = "관리자 리스트" %}
{% extends "layout/base.html" %}
 
{% block content -%}
    <table class="table table-bordered table-hover">
        <tr>
            <th>제목</th>
            <th>작성일</th>
            <th>삭제</th>
        </tr>
        {% for product in products %}
        <tr>
            <td>
                <a href="/admin/products/detail/{{  product.id }}">{{ product.name }}</a>
            </td>
            <td>
                {{ product.dateFormat( product.createdAt ) }}
            </td>
            <td>
                <a href="/admin/products/delete/{{ product.id }}" class="btn btn-danger" onclick="return confirm('삭제하시겠습니까?')">삭제</a>
            </td>
        </tr>
        {% endfor %}
    </table>

    <a href="/admin/products/write" class="btn btn-default">작성하기</a>

{% endblock %}